body {
  background-color: black;
  background-image: url('/images/about me.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
p {
  text-justify: auto;
  color: rgb(255, 166, 0);
  font-size: larger;
  font-stretch: normal;
}

header h1 {
  font-size: 60px;
  font-weight: 500;
  background-image: linear-gradient(to left, #9a3c3c, #d3ad93);
  color: transparent;
  text-decoration-line: underline;
  text-decoration-color:rgb(255, 166, 0);
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
}

img {
  border: 6px solid rgb(255, 166, 0);
  border-radius: 6px;
}

#picture {
  float: down;
  display: block;
  width: 100%;
  margin-left: 1000px;
  margin-right: auto;
}

#topMenu3 img {
  width: 150px;
  border-radius: 50%;
}

#topMenu3 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 22px;
}